@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main-container {
  @apply px-5 mx-auto flex items-center;
  max-width: 1200px;
}

.btn-rounded {
  @apply px-5 py-2 rounded-full;
}

.nav {
  @apply border border-b-black w-full fixed top-0 z-10 transition-colors;
  height: 75px;
}

.nav.blue {
  @apply bg-blue-200;
}

.nav.white {
  @apply bg-white;
}

.header {
  @apply bg-blue-200;
  margin-top: 75px;
}

.header-bg {
  background-image: url(/section/header.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 385px 341px;
}

.latest-thumbnail {
  position: relative;
  width: 100px;
  height: 100px;
}

@media screen(sm) {
  .latest-thumbnail {
    width: 150px;
    height: 100px;
  }
}

@media screen(md) {
  .latest-thumbnail {
    width: 200px;
    height: 135px;
  }
}
